/* Reset */
:root {
    --primary-color: #ffffff;
    --secondary-color: #999;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: black;
    color: #999;
}

h1,
h2,
h3,
h4 {
    color: white;
}

h1 {
    font-weight: 800;
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
    
}

h3 {
    font-weight: 300;
    font-size: 1.3rem;
    margin: 1rem;
}

p {
    margin: 0.5rem 0;
}

.large {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.4)
}

.important {
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.4)
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.small {
    width: 40%;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.small header {
    line-height: 0.5;
}

.small h3 {
    font-weight: 600;
    margin-bottom: 1rem;
}
.dark {
    background-color: rgba(255, 255, 255, .1);
    padding-top: 0.5rem;
} 

.dark label {
    color: rgba(255, 255, 255, .8);
}

form div {
    margin-bottom: 0.5rem;
}

form label {
    display: block;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 1px;
    text-align: start;
    margin-bottom: 0.5rem;
}

form input,
form textarea {
    background-color: rgba(255, 255, 255, .1);
    border: none;
    padding: 0.5rem;
    width: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;

}

nav ul {
    display: flex;
    gap: 1.1rem;
}

.btn {
    background-color: rgba(255, 255, 255, .1);
    padding: 4px 8px;
    border-radius: 6px;
    color: var(--secondary-color)
}

.btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.logo-image {
    margin-top: 2rem;
}

#title {
    line-height: 15px;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#title h2 {
    font-size: 1.3rem;
    color: var(--secondary-color);
}

#services h2 {
    text-decoration: underline;
    font-weight: 600;
}

#services ul li {
    text-transform: capitalize;
    list-style: circle;
    text-align: start;   
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;

}

.footer {
    padding-bottom: 1.5rem;
}