/* Reset */
:root {
    --primary-color: #ffffff;
    --secondary-color: #999;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    /* background: black; */
    color: #999;
    background-image: url(../img/bg1.webp);
}

h1,
h2,
h3,
h4 {
    color: white;
}

h1 {
    font-weight: 800;
    font-size: 3.5rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
}

h3 {
    font-weight: 300;
    font-size: 1.3rem;
    margin: 1rem;
    line-height: 35px;
}

h4 {
    font-weight: 300;
    font-size: 0.7rem;
}

p {
    color: var(--primary-color);
}

.large {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.4)
}

.important {
    font-size: .7rem;
    margin-top: 0.8rem;
    color: rgba(255, 255, 255, 0.7)
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.small {
    width: 40%;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    margin-bottom: 1.75rem;
    margin-top: 2rem;
    /* padding-top: 2rem; */
}

.small header {
    line-height: 0.5;
}
.small p {
    padding: 0;
}

.small h3 {
    font-weight: 600;
    margin-bottom: 1rem;
}
.small2 {
    width: 60%;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
    margin-top: 0.5rem;
}

.small2 header {
    line-height: 0.5;
}
.small2 p {
    padding: 0.5rem;
}

.small2 h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

#msg {
    margin-top: 2rem;
}
.dark {
    background-color: rgba(255, 255, 255, .1);
    padding-top: 0.5rem;
} 

.dark label {
    color: rgba(255, 255, 255, .8);
}

form div {
    /* margin-bottom: 0.5rem; */
}

form label {
    display: block;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 1px;
    text-align: start;
}
form input {
    margin-bottom: 0.5rem;
}

form input,
form textarea {
    background-color: rgba(255, 255, 255, .1);
    border: none;
    padding: 0.3rem;
    width: 100%;
    cursor: pointer;
}

form input:focus,
form textarea:focus {
    outline: none;
    background-color: rgba(255, 255, 255, .2);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;

}
.top img {
    width: 15%;
}

nav ul {
    display: flex;
    gap: 1.1rem;
    cursor: pointer;
}

.nav-links li:hover a {
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 4px;
    padding: 0 4px;
    color: black;
    transition: 0.3s;
}
.nav-links li:hover i {
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 4px;
    padding: 0 4px;
    color: black; 
}

.btn {
    font-size: 1.1rem;
    background-color: rgba(2, 2, 2, 0.5);
    padding: 16px 50px;
    border-radius: 10px;
    color: var(--primary-color)
}
.btn-mobile {
    display: none;
}

.btn:hover {
    background-color: var(--secondary-color);
    color: black;
    cursor: pointer;
}

.logo-image img {
    width: 90%;
    /* padding-top: 4rem; */

}

#title {
    line-height: 15px;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#title h2 {
    font-size: 1.3rem;
    color: var(--secondary-color);
}

#services {
    padding-top: 1rem;
}

#services h2 {
    text-decoration: underline;
    padding-bottom: 2rem;
    font-weight: 600;
    font-size: 2.5rem;
}

#services ul li {
    text-transform: capitalize;
    list-style: circle;
    font-size: 1.2rem;
    text-align: start;  
    font-weight: 600; 
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.footer {
    padding-bottom: 1.5rem;
}

#tel {
    padding-top: 1rem;
}

.medium {
    font-size: 1.2rem;
    /* line-height: 30px; */
    color: var(--secondary-color);
}
/* .active {
    background: #fff;
    width: 85px;
    height: 28px;
    position: absolute;
    left: 40.5%;
    top: 0;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
} */

@media screen and (max-width: 600px)
{
    h1 {
        font-weight: 800;
        font-size: 2rem;
        letter-spacing: 1px;
        margin-bottom: 1rem;
    }
    h2 {
        font-weight: 400;
        font-size: 1rem;
        margin: 1rem 0 1rem 0;
    }
    #title h2 {
        font-size: 1rem;
        color: var(--secondary-color);
    }
    h3 {
        font-weight: 300;
        line-height: 35px;
        font-size: 1rem;
        margin: 1rem;
        padding-bottom: 1rem;
    }
    .btn {
        background-color: rgba(255, 255, 255, .1);
        padding: 4px 8px;
        border-radius: 6px;
        color: var(--secondary-color)
    }
    .small {
        font-size: .9rem;
        width: 40%;
        align-items: center;
        justify-content: center;
        padding-bottom: 2rem;
        /* padding-top: 2rem; */
    }

    .small header {
        font-size: 0.5rem;
       
    }
    #services ul li {
        text-transform: capitalize;
        list-style: circle;
        font-size: 0.9rem;
        text-align: start;  
        font-weight: 600; 
    }

    header nav {
        display: none;
    }
    header nav.active { 
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        top: 37.5px;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(5px);
    }

    header nav ul {
        text-align: right;
        padding: 10px 25px;
        flex-direction: column;
    }

    .btn-mobile {
        display: block;
        z-index: 9999;
        padding-top: 10px;
    }
}
    